{% extends "base.html" %}
{% block content %}
<h2>Create New Reservation</h2>

{% if success %}
<p>{{ success }}</p>
{% endif %}

<form action="/new_reservation" method="POST">

<!--This is what is shown in the screenshot given of the demo. I replaced the placeholder stuff.-->
    <h3>Current Seating Chart</h3>
    <img src="{{ chart_img }}" alt="Seating Chart">
    <br><br>

    <label>First Name:</label>
    <input type="text" name="first_name" required>
    <br><br>

    <label>Last Name:</label>
    <input type="text" name="last_name" required>
    <br><br>
    
<!--Doesn't have ticket price or anything as far as I can see, as a drop down menu for rows and columns for the spot of the seat and loops through 1-12 and 1-4.-->
    <label>Choose a Row:</label>
    <select name="row" required>
        <option value="">Choose a Row</option>
        <!--loops through 1-12-->
        {% for r in range(1,13) %}
            <option value="{{ r }}">{{ r }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label>Choose a Seat:</label>
    <select name="seat" required>
        <option value="">Choose a Seat</option>
        <!--loops through 1-4-->
        {% for s in range(1,5) %}
            <option value="{{ s }}">{{ s }}</option>
        {% endfor %}
    </select>
    <br><br>

    <button type="submit">Save Reservation</button>
</form>

{% endblock %}
