{% extends "base.html" %}
{% block content %}
<h2>Reservation List</h2>

<!-- altered some stuff becuase it didnt match schema from beforehand.-->
<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Flight Number</th>
        <th>Seat</th>
        <th>Price</th>
        <th>Reservation Code</th>
        <th>Date</th>
    </tr>

    {% for r in reservations %}
    <tr>
        <td>{{ r.passenger_name }}</td>
        <td>{{ r.passenger_email }}</td>
        <td>{{ r.flight_number }}</td>
        <td>{{ r.seat_number }}</td>
        <td>${{ r.price }}</td>
        <td>{{ r.reservation_code }}</td>
        <td>{{ r.reservation_date }}</td>
        <td><!-- delete button per instructions-->
            <form action="/delete_reservation/{{ r.id }}" method="POST" 
                  onsubmit="return confirm('Delete this reservation?');">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
